@font-face {
  font-family: GothamRounded;
  src: url(../../assets/GothamRounded/GothamRounded-Bold.otf);
}

@font-face {
  font-family: Gotham;
  src: url(../../assets/GothamRounded/GothamRounded-Light.otf);
}

header {
  display: flex;
  justify-content: space-around;
  width: 100vw; /* Se acopla a la pantalla */
  height: 9vh;
  background-color: #780727;
  align-items: center;
  font-family: GothamRounded;
}

.content {
  margin-left: -25px;
  display: flex;
  justify-content: space-around;
  width: 100vw; /* Se acopla a la pantalla */
  height: 9vh;
  background-color: #780727;
  align-items: center;
}

.logoIzq img {
  height: 60px;
}

.logoDer img {
  height: 50px;
}

.leyendas {
  /* border: solid green 1px; */
  color: #fff;
  text-align: center;
  margin-top: 0px;
  font-size: 0.6rem;
}
