#container {
}
.mailBox {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mI {
  margin: 0 !important;
}
.item {
  box-shadow: 0 1px 0 #000 inset;
}
.author {
  width: fit-content;
  font-weight: 700;
}
.subject {
  font-weight: 600;
}
.status {
  font-weight: 600;
  color: red;
}
